<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210629844109-r4avau2nrtrlbt7d12229ac6rf37oce2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210629844109-r4avau2nrtrlbt7d12229ac6rf37oce2</string>
	<key>API_KEY</key>
	<string>AIzaSyCiVubsBeHSms1jiih94ZC3Xd2W5n5d280</string>
	<key>GCM_SENDER_ID</key>
	<string>210629844109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzAppWithFirebaseDb</string>
	<key>PROJECT_ID</key>
	<string>quizz-app-cb4e6</string>
	<key>STORAGE_BUCKET</key>
	<string>quizz-app-cb4e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210629844109:ios:ab9b001d28f10a7e2516c4</string>
	<key>DATABASE_URL</key>
	<string>https://quizz-app-cb4e6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>